table, th, td {
  border: 1px solid;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit: scale-down;
}

*{
  font-family: "Times New Roman";
}

